.ideas {

    &__title {
        font-family: 'Monsterrat', sans-serif;
        font-weight: 900;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    &__image-block {
        margin-bottom: 2rem;
    }

    &__subtitle {
        font-weight: 900;
    }

}