.ideas {

    &__title {
        font-family: 'Monsterrat', sans-serif;
        font-weight: 900;
        font-size: 4rem;
        margin-bottom: 2rem;

        &::before {
            content: '';
            position: absolute;
            height: 0.4rem;
            width: 3rem;
            border-radius: 0.3rem;
            background-color: $color-secondary;
            margin-bottom: 7rem;
        }
    }

    &__image-block {
        margin-bottom: 2rem;
    }

    &__subtitle {
        font-weight: 900;
    }

}