.team {

    &__title {
        font-family: 'Monsterrat', sans-serif;
        font-weight: 900;
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    &__name {
        font-family: 'Lobster Two', cursive;
        font-size: 4rem;
        text-align: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__member-list {
        display: flex;
        flex-direction: row;
    }
}