.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__image {
        display: inline;
        height: 10rem;
        width: 10rem;
        user-select: none;
    }

    &__name {
        font-size: 1.6rem;
        font-weight: 900;
        text-align: center;
    }
}