.paragraph {
  &__title {
    color: $color-purple-light;
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  &__body {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}